<launch>
	
	<!-- The GStreamer framerate needs to be an integral fraction -->
	<arg name="NS" value="stereo"/>
	
	<arg name="CAMERA" default="logitech" />
	<arg name="WIDTH" value="640"/>
	<arg name="HEIGHT" value="480"/>
	<arg name="FPS" value="5"/>
	
	<arg name="PUBLISH_FRAME" default="false"/>
	<arg name="unit" value="$(find usb_cam)/launch/unit.launch" />
	<arg name="CALIB_FOLDER" value="file://$(find usb_cam)/launch/640x480/calib" />
	
	<include file="$(arg unit)">
		<!--require DEVICE, ?CAMERA, NS, ?NODE_NAME, WIDTH, HEIGHT, ?CALIB, ?FPS, ?PUBLISH_FRAME -->
		<arg name="NODE_NAME" value="right"/>
		<arg name="DEVICE" value="/dev/video1"/>		
		<arg name="CALIB" value="$(arg CALIB_FOLDER)/right.yaml"/>

		<arg name="CAMERA" value="$(arg CAMERA)-right"/>
		<arg name="NS" value="$(arg NS)"/>
		<arg name="WIDTH" value="$(arg WIDTH)"/>
		<arg name="HEIGHT" value="$(arg HEIGHT)"/>
		<arg name="FPS" value="$(arg FPS)"/>
		<arg name="PUBLISH_FRAME" value="$(arg PUBLISH_FRAME)"/>
	</include>
	
	<include file="$(arg unit)">
		<!--require DEVICE, ?CAMERA, NS, ?NODE_NAME, WIDTH, HEIGHT, ?CALIB, ?FPS, ?PUBLISH_FRAME -->
		<arg name="NODE_NAME" value="left"/>
		<arg name="DEVICE" value="/dev/video0"/>
		
		<arg name="CALIB" value="$(arg CALIB_FOLDER)/left.yaml"/>

		<arg name="CAMERA" value="$(arg CAMERA)-left"/>
		<arg name="NS" value="$(arg NS)"/>
		<arg name="WIDTH" value="$(arg WIDTH)"/>
		<arg name="HEIGHT" value="$(arg HEIGHT)"/>
		<arg name="FPS" value="$(arg FPS)"/>
		<arg name="PUBLISH_FRAME" value="$(arg PUBLISH_FRAME)"/>
	</include>

</launch>
