<launch>
    <node name="left" pkg="usb_cam" type="usb_cam_node" ns="stereo" respawn="true">
	<param name="video_device" type="str" value="/dev/video0" />
	<param name="image_width" type="int" value="640" />
	<param name="image_height" type="int" value="480" />
	<param name="pixel_format" type="str" value="yuyv" />
	<param name="framerate" type="int" value="5" />
        <param name="camera_info_url" type="str" value="package://usb_cam/640x480/calib/left-ost.yaml" />
    </node>
    <node name="right" pkg="usb_cam" type="usb_cam_node" ns="stereo" respawn="true">
	<param name="video_device" type="str" value="/dev/video1" />
	<param name="image_width" type="int" value="640" />
	<param name="image_height" type="int" value="480" />
	<param name="pixel_format" type="str" value="yuyv" />
	<param name="framerate" type="int" value="5" />
        <param name="camera_info_url" type="str" value="package://usb_cam/640x480/calib//right-ost.yaml" />
    </node>
</launch>
