<launch>
	<node name="proc" pkg="stereo_image_proc" type="stereo_image_proc" ns="stereo">
		<param name="queue_size" type="int" value="30" />
		<param name="approximate_sync" type="bool" value="True" />
		<param name="prefilter_size" type="int" value="77" />
		<param name="prefilter_cap" type="int" value="24" />
		<param name="correlation_size" type="int" value="21" />
		<param name="disparity_min" type="int" value="2" />
		<param name="disparity_range" type="int" value="96" />
		<param name="uniqueness_ratio" type="double" value="12.0" />
		<param name="texture_threshold" type="int" value="0" />
		<param name="speckle_size" type="int" value="253" />
		<param name="speckle_range" type="int" value="31" />
	</node>	
</launch>
